body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  background-color: #eeeeee;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../images/background-moraine.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0px;
  text-align: center;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 2;
}

header h2 {
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 45px;
}

main,
.container {
  margin: 0 auto;
  max-width: 1600px;
}

section {
  margin: 0 auto;
  max-width: 1400px;
  padding: 100px;
  background-color: whitesmoke;
}

section img {
  max-height: 700px;
  max-width: 100%;
  display: block;
  margin: 0px auto;
}
.secondary-section {
  background-color: #eeeee3;
}

.secondary-section h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
}

.card {
  background-color: whitesmoke;
  margin-top: 20px;
}

.card-body {
  padding: 20px;
}

.card h3 {
  margin-top: 0px;
}
.card .btn {
  color: whitesmoke;
  background-color: #2f4170;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 50%;
  text-transform: uppercase;
  border-radius: 3px;
}

.card img {
  max-width: 50%;
  display: block;
}

.grid-secondary-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.footer-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/footer-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #ffffff;
  opacity: 0.9;
  max-width: 1600px;
  margin: 0 auto;
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  line-height: 1.5;
  grid-gap: 50px;
  padding: 50px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0px;
}

footer a {
  color: #c4b4b4;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  header {
    padding: 100px 0px;
  }
  h1 {
    font-size: 42px;
  }
  header h2 {
    font-size: 30px;
  }
  .grid-footer {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 0px 100px;
    line-height: 1.2;
  }
  .grid-main {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid-secondary-section {
    grid-template-columns: 1fr;
  }
  section {
    padding: 60px;
    max-width: 850px;
  }

  footer p {
    font-size: 15px;
  }
  .secondary-section h2 {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  header {
    padding: 20px 0px;
  }

  h1 {
    font-size: 36px;
  }
  header h2 {
    font-size: 24px;
  }

  footer h3 {
    font-size: 15px;
  }
  .grid-footer {
    grid-template-columns: 1fr;
    grid-gap: 0px;
    padding: 30px;
  }
}
