body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  background-color: #eeeeee;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../images/background-moraine.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 10px 140px 10px;
  text-align: center;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 2;
  font-weight: 500;
}

header h2 {
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 300;
}

main,
.container {
  margin: 0 auto;
  max-width: 1600px;
}

section {
  margin: 0 auto;
  max-width: 1400px;
  padding: 100px;
  background-color: whitesmoke;
}

.main-section-image {
  max-height: 600px;
  max-width: 100%;
  display: block;
  margin: 0px auto;
}

.main-section-text {
  font-weight: 500;
  line-height: 1.2;
  padding: 150px 40px 0px 30px;
}
.secondary-section {
  background-color: #eeeee3;
}

.secondary-section h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
}

.card {
  background-color: whitesmoke;
  margin-top: 20px;
}

.card-body {
  padding: 20px;
}

.card h3 {
  margin-top: 0px;
}

header .btn {
  color: #2f4170;
  background-color: whitesmoke;
  max-width: 20%;
  margin-top: 50px;
}

.btn {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  
  text-transform: uppercase;
  border-radius: 3px;
}

.card .btn {
  color: whitesmoke;
  background-color: #2f4170;
  max-width: 50%;
}

.card img {
  max-width: 100%;
  display: block;
}

.embed {
  width: 100%;
  aspect-ratio: 1/0.755;
}

.embed-section h2 {
  font-size: 50px;
  font-weight: 500;
}

.embed-section {
  background-color: whitesmoke;
}
.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}
.grid-secondary-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.instagram-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  background-color: white;
  padding: 20px;
}
.footer-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/footer-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #ffffff;
  opacity: 0.9;
  max-width: 1600px;
  margin: 0 auto;
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  line-height: 1.5;
  grid-gap: 50px;
  padding: 50px;
}

.grid-footer h3,
p {
  font-weight: 500;
}

.grid-footer p {
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0px;
  font-size: 14px;
}

footer a {
  color: rgb(181, 169, 236);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  header {
    padding: 30px 30px;
  }
  h1 {
    font-size: 42px;
  }
  header h2 {
    font-size: 25px;
  }

  header .btn {
    font-size: 14px;
  }
  .grid-footer {
    grid-template-columns: 1fr;
    grid-gap: 0px;
    padding: 0px 60px;
    line-height: 1.2;
  }
  .grid-main {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid-secondary-section {
    grid-template-columns: 1fr;
  }
  section {
    padding: 40px 60px;
    max-width: 850px;
  }

  .main-section-text {
    padding: 10px 60px;
  }
  footer p {
    font-size: 15px;
  }
  .secondary-section h2 {
    font-size: 40px;
  }
  .card-header img {
    display: none;
  }
  .card-header {
    grid-template-columns: 1fr;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  .instagram-grid {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

@media (max-width: 400px) {
  header {
    padding: 20px 0px;
  }

  h1 {
    font-size: 36px;
  }
  header h2 {
    font-size: 20px;
  }

  header .btn {
font-size: 10px;
margin-top: 30px;
max-width: 30%;
  }

  .main-section-text {
    padding: 0px;
    font-size: 14px;
  }

  .main-section-image {
    max-height: 300px;
  }

  .secondary-section h2 {
    margin-bottom: 10px;
    font-size: 35px;
  }

  .card {
    margin-top: 0px;
  }

.embed-section h2 {
  font-size: 30px;
}

  footer h3 {
    font-size: 15px;
  }
  .grid-footer {
    grid-template-columns: 1fr;
    grid-gap: 0px;
    padding: 30px;
  }
}
