body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(../images/turtle.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 240px 0px;
  text-align: center;
}

h1 {
  color: white;
  text-transform: uppercase;
}

header h2 {
  color: antiquewhite;
  letter-spacing: 3px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  header {
    padding: 20px 0 140px 0px;
  }
}
